@use "../../sass/variables.scss" as *;

.checkboxes {
	display: flex;
	justify-content: space-between;
	border: none;
	margin: 0;
	padding: 0;
	gap: 20px;
	margin-top: 7px;
	label {
		span{
			color: #003C71;
			font-style: normal;
			font-weight: 400;
			font-size: 16px;
			line-height: 22px;
		}
	}
}


.legend {
	margin: 0;
	padding: 0;
	float: left;
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 22px;
	color: #7182A6;
}

