.create-organization {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;

  &__form {
    max-width: 360px;
    width: 100%;
    margin: 0 auto;
  }

  &__title {
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    text-align: center;
    color: #003C71;
  }

  &__subtitle {
    font-size: 16px;
    line-height: 18px;
    text-align: center;
    color: rgba(61, 83, 102, 0.7);
    margin-top: 10px;
  }

  &__first-input {
    margin-top: 50px;
  }

  &__submit {
    margin-top: 40px;
    width: 360px;
    height: 40px;
  }
  &__cancel{
    width: 100%;
    max-width: 49px;
    margin: 16px auto 0;
    height: 21px;
  }
}
