@import "../../../variables.scss";

.side-bar {
  max-height: 100%;
  width: 250px;
  background: #ffffff;
  box-shadow: 0px 2px 20px rgba(22, 34, 101, 0.1);
  border-radius: 4px;
  padding-top: 32px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  transition: width 0.4s;
  padding: 18px 0 28px;
  overflow-y: auto;
  scrollbar-width: none;
  &::-webkit-scrollbar {
    display: none;
  }

  --side: 32px;

  &--collapsed {
    width: 80px;
    --side: 0;
  }

  &__switcher {
    border: none;
    background-color: transparent;
    font: inherit;
    font-size: 16px;
    line-height: 1.125;
    color: $main-text;
    padding: 18px var(--side);
    display: inline-flex;
    cursor: pointer;
    font-weight: normal;

    svg {
      margin-right: 24px;
      transition: transform 0.5s;
    }

    &:hover,
    &:focus-visible {
      svg {
        fill: $accent;
      }
    }
    &[aria-checked="true"] {
      justify-content: center;
      font-size: 0;
      svg {
        transform: rotate(180deg);
        margin-right: 0;
      }
    }
  }

  &__button {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.125;
    display: flex;
    margin: auto auto 1.5em;
    place-content: center;

    color: $inactive;
    text-decoration: none;
    padding: 10px 15px 11px;
    border: 1px solid currentColor;
    border-radius: 2px;
    transition: color 0.4s, background-color 0.3s;

    &:hover,
    &:focus-visible,
    &:active {
      background-color: $accent;
      border-color: $accent;
      color: #fff;
    }
  }

  &__footer {
    margin: auto 0 0;
    font-weight: normal;
    font-size: 12px;
    line-height: 140%;
    text-align: center;
    color: rgb(198, 204, 219);
    padding: 0 30px;
    small {
      font: inherit;
    }
  }

  &__privacy {
    text-decoration: none;
    color: $accent;
    transition: 0.3s ease-in-out;
    &:hover,
    &:focus-visible,
    &:active {
      color: lighten($accent, 20);
    }
  }
}
