@use "../../../sass/variables" as *;
@use "../../../sass/mixins" as *;

@keyframes fromBottom {
	from {
		opacity: 0;
		transform: translateY(20px);
	}
	to {
		opacity: 1;
		transform: none;
	}
}

.root {
	--side: 32px;
	position: sticky;
	top: 0;
	height: 100vh;
	flex: 0 0 250px;
	background-color: #f9f9f9;
	display: flex;
	flex-direction: column;
	transition: flex-basis 0.4s;
	padding: 32px 0 0;
	border-right: 1px solid transparentize(#162265, 0.75);
	@include hide-scrollbar;
	overflow-y: auto;
}

.navbar {
	margin-bottom: auto;
}

.header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding-left: 24px;
	padding-right: 20px;
	padding-bottom: 48px;
}

@keyframes appear {
	from {
		visibility: visible;
		opacity: 0;
	}
	to {
		visibility: visible;
		opacity: 100%;
	}
}

.copyright {
	margin: 0 auto 24px;
	font-weight: normal;
	font-size: 12px;
	line-height: 1.4;
	text-align: center;
	color: $inactive;
	display: block;
	visibility: hidden;
	animation: appear 0.3s 0.4s forwards;

	max-width: 208px;

	a {
		text-decoration: none;
		color: $accent;
		outline-color: currentColor;
		@include hover-focus {
			color: $headlines;
		}
	}

	&--hidden {
		visibility: hidden;
	}
}

.switcher {
	border: none;
	background-color: transparent;
	line-height: 1.125;
	color: $inactive;
	width: 20px;
	height: 20px;
	padding: 0;
	display: flex;
	cursor: pointer;
	font-weight: normal;
	color: $inactive svg {
		transition: transform 0.5s;
	}

	&[aria-checked] {
		@include hover-focus {
			color: $accent;
		}
	}

	&[aria-checked="true"] {
		justify-content: center;

		svg {
			transform: scale(-1, 1);
		}
	}
}

.plugin {
	display: flex;
	align-items: center;
	justify-content: center;
	text-decoration: none;

	margin: 0 24px 32px;
	border: 1px solid $inactive;
	border-radius: 2px;
	font-weight: normal;
	font-size: 14px;
	line-height: 16px;
	padding: 12px 0;

	transition-property: font-size;
	transition-duration: 0.2s;
	transition-delay: 0.3s;

	color: $headlines;

	&::after {
		content: attr(aria-label);
		margin-left: 8px;
	}

	&:hover,
	&:active {
		background-color: #20744a;
		color: #fff;
		svg {
			fill: #fff;
			transition: fill 0.3s;
		}

		:global .exel_svg__exel-plugin {
			fill: #20744a;
		}
	}

	&:focus-visible {
		background-color: #20744a;
		color: #fff;
		svg {
			fill: #fff;
			transition: fill 0.3s;
		}

		:global .exel_svg__exel-plugin {
			fill: #20744a;
		}
	}
}

.collapsed {
	flex-basis: 80px;
	--side: 0;

	.header {
		padding: 0 0 48px;
		justify-content: center;
		justify-items: center;
	}

	.plugin {
		border-color: transparent;
		margin-left: 0;
		margin-right: 0;
		font-size: 0;
		&::after {
			display: none;
		}
	}
}

.trigger {
	background-color: transparent;
	border: none;
	border-top: 1px solid transparentize($main-text, 0.9);

	font: inherit;
	cursor: pointer;
	color: $main-text;

	height: 52px;
	width: 100%;
	display: flex;
	align-items: center;
	align-content: center;
	justify-content: center;

	font-size: 0;
	transition-property: font-size;
	transition-duration: 0.2s;
	transition-delay: 0.3s;

	&--wide {
		font-size: 14px;
	}

	&:hover,
	&:active {
		color: $accent;
	}

	&:focus-visible {
		color: $accent;
	}
}
