@use '../../sass/variables' as *;

.root {
	padding: 40px;
	display: grid;
	gap: 10px;
}

.title {
	color: $accent;
}

.inputs {
	display: grid;
	gap: 16px;
}

.error {
	margin: -20px 0 10px;
	color: $error;
}
