@import "../../../variables.scss";

$text: #bcc4d8;

@keyframes blink-caret {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: $accent;
  }
}

.app-input {
  width: 100%;

  &__wrapper {
    position: relative;
    font-size: 16px;
    line-height: 18px;
    color: #003c71;

    &--limited::after {
      content: attr(data-limit);
      position: absolute;
      right: 0;
      top: 12px;

      font-size: 14px;
      line-height: 1.143;

      color: $inactive;
    }
  }

  &__field,
  &__dummy {
    accent-color: $accent;

    width: 100%;
    min-height: 40px;
    border: none;
    border-bottom: 1px solid rgba(113, 130, 166, 0.3);
    padding: 10px 20px 10px 0;
    font: inherit;
    color: inherit;

    outline: none;
    caret-color: $accent;

    &::placeholder {
      font-size: 16px;
      line-height: 18px;
      color: $text;
    }
    &:hover {
      border-color: $accent;
    }
    &:active,
    &:focus {
      color: $accent;
      border-color: currentColor;
    }

    &:disabled {
      color: $inactive;
      border-color: $inactive;
    }

    &[type="date"] {
      position: relative;
      cursor: pointer;
      &::-webkit-calendar-picker-indicator {
        position: absolute;
        inset: 0;
        width: auto;
        height: auto;
        color: transparent;
        // background: #fff;
        cursor: pointer;
      }
      &::-webkit-inner-spin-button {
        z-index: 1;
      }
      &::-webkit-clear-button {
        z-index: 1;
      }
    }
  }

  &--validate &__field:not(:placeholder-shown):invalid {
    border-bottom: 1px solid #ff5757;
  }

  &__toggle {
    all: unset;
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    color: $text;
    cursor: pointer;
    svg {
      fill: currentColor;
    }

    &:hover,
    &:focus-visible {
      color: $accent;
    }

    &:active {
      color: darken($accent, 10);
    }
  }

  &__icon {
    fill: $inactive;
    position: absolute;
    right: 0;
    top: 10px;
  }

  &__dummy {
    position: absolute;
    top: 0;
    left: 0;
    background-color: #fff;
    pointer-events: none;
    text-align: left;
  }

  &__field:active ~ &__dummy,
  &__field:focus ~ &__dummy {
    color: $accent;
    svg {
      fill: currentColor;
    }
  }

  &__field:hover ~ &__icon {
    border-color: $accent;
  }

  &__error {
    font-size: 16px;
    line-height: 18px;
    margin: 16px 0 0;

    color: #ff5757;
    text-align: left;
  }
}
