@use "../../../sass/variables" as *;
@use "../../../sass/mixins" as *;

.edit-account {
	min-height: 650px;
	height: calc(100vh - 80px);
	max-height: 720px;

	display: flex;
	flex-direction: column;






	// &__form {

	// 	&--pass {
	// 		position: relative;
	// 		.app-input {
	// 			&__field {
	// 				padding-right: 5em;
	// 			}

	// 			&__error {
	// 				font-size: 14px;
	// 				margin-top: 0.43em;
	// 			}
	// 		}
	// 	}
	// }


	&__form-account {
		margin-top: 30px;
		display: grid;
		gap: 30px - 10px;

		.selector-input {
			margin-top: 10px;
		}
	}

	.check-block {
		color: $headlines;
	}
}
