.header{
  height: 80px;
  margin-bottom: 24px;
  width: 100%;
  background: #FFFFFF;
  box-shadow: 0px 2px 20px rgba(22, 34, 101, 0.1);
  display: flex;
  align-items: center;
  justify-content: center;

  &__content {
    margin: 0 10px;
    max-width: 1392px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    width: 100%;
  }

  &__breadcrumbs {
    margin-left: 70px;
    display: flex;
    align-items: center;
    font-weight: 300;
    font-size: 14px;
    line-height: 16px;
    color: #7182A6;
    &-item {
      cursor: not-allowed;
      text-transform: capitalize;
      span.breadcrumb-divider {
        font-weight: 300;
        font-size: 14px;
        line-height: 16px;
        margin-right: 10px;
        margin-left: 10px;
        cursor: not-allowed;
        color: #BCC4D8;
      }
      &.last {
        font-weight: 500;
        color: #017AEE;
      }
    }

  }

  &__logo{
    display: flex;
    align-items: center;
    svg{
      margin-right: 8.5px;
      cursor: pointer;
      margin-top: -7px;
    }
    span{
      font-style: normal;
      font-weight: 600;
      font-size: 25px;
      line-height: 32px;
      color: #003C71;
      cursor: pointer;
    }
  }

  &__nav{
    display: flex;
    align-items: center;
    width: 144px;
    justify-content: flex-end;
  }
  &__nav-item{
    cursor: pointer;
    .username {
      display: inline-block;
      margin-left: 9px;
      font-size: 16px;
      line-height: 18px;
      color: #7182A6;
    }

  }
}

.profile{
  display: flex;
  cursor: pointer;
  align-items: center;
  position: relative;
  margin-right: 10px;
  &__avatar{
    border: 1px solid #C5C7CD;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    .img-wrapper {
      width: 42px;
      height: 42px;
      overflow: hidden;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    img {
      width: 42px;
      height: 62px;
    }
    &.opened {
      border: 1px solid #017AEE;
    }
    svg{
      border-radius: 50%;
      object-fit: cover;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }
  &__arrow{
   margin-left: 6px;
    margin-top: 3px;
    transform: rotate(180deg);
    transition: .3s ease-in-out;
      path {
        fill: #C5C7CD;
      }
    &.opened {
      transform: rotate(0);
      path {
        fill: #017AEE;
      }
    }
  }

  &__dropdown {
    opacity: 0;
    z-index: -1;
    position: absolute;
    background-color: #fff;
    padding: 40px 24px;
    right: -10px;
    top: 57px;
    width: 133px;
    box-shadow: 0px 1px 18px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    transition: .3s ease-in-out;

    @supports ((-webkit-backdrop-filter: none) or (backdrop-filter: none)) {
      background-color: transparent;
      backdrop-filter: blur(10px);
      background-image: linear-gradient(149.05deg, rgba(255, 255, 255, 0.4) 3.23%, rgba(255, 255, 255, 0.6) 98.66%);
    }


    &.showMenu {
      opacity: 1;
      z-index: 4;
    }

    &-item {
      margin-bottom: 24px;
      font-weight: 300;
      font-size: 16px;
      line-height: 18px;
      color: #003C71;
      display: flex;
      align-items: center;
      svg {
        margin-right: 20px;
      }
      &:last-child {
        margin-bottom: 0;
      }
      &:hover {
        font-weight: 500;
        color: #017AEE;
        svg {
          path {
            fill: #017AEE;
          }
        }
        &::after {
          position: absolute;
          content: '';
          height: 15px;
          width: 3px;
          background: #017AEE;
          left: 0;
        }
      }

    }

    &-triangle {
      position: absolute;
      height: 10px;
      width: 10px;
      background-color: #fff;
      top: -5px;
      right: 12px;
      transform: rotate(45deg);
    }
  }
}
