@use "../../sass/variables.scss" as *;

.root {
    padding: 40px 0;
}

.header {
    padding: 0 40px;
}
.error {
    color: $error;
    margin: 0 40px 16px;
    outline: none;
}

.table {
    width: 100%;
    display: grid;
}

.row {
    padding: 8px 40px;
    display: grid;
    grid-template-columns: 1fr 45px 45px;
    gap: 18px;
}

.action {
    display: grid;
    place-content: center;

    :global .pin-button::after {
        left: auto;
        right: -48px;
        transform: none;
    }
}

.headline {
    text-align: left;
    font-weight: 600;
    font-size: 12px;
    line-height: 1.33;
    letter-spacing: 0.04em;
    color: $headlines;
}

.asset {
    padding: 14px 40px;
    color: $main-text;

    &:nth-child(odd) {
        background-color: rgba($inactive, 0.1);
    }

    &--selected {
        color: $accent;
    }
}
