@import "../../../sass/variables";

.check-block {
    font: inherit;
    display: inline-grid;
    grid-auto-flow: column;
    gap: 0.625em;
    cursor: pointer;
    align-items: center;
    justify-content: start;
    position: relative;

    &__custom {
        display: grid;
        place-items: center;
        width: 1em;
        height: 1em;
        background-color: #fff;
        border: 0.0625em solid transparentize($main-text, 0.7);
        box-shadow: inset 0px 0.125em 0.4375em transparentize($main-text, 0.9);
        border-radius: 2px;

        transition: border-color 0.2s ease-in;
    }

    &--right &__custom {
        order: 1;
    }

    &__input {
        -webkit-appearance: none;
        appearance: none;
        position: absolute;
    }

    &__text {
        transition: color 0.2s ease-in;
    }
    &--highlight &__input:not(:disabled):checked ~ &__text,
    &--highlight:hover &__text {
        color: $accent;
    }

    &--highlight:focus-visible &__text {
        color: $accent;
    }

    &__input:focus {
        outline: none;
    }

    &--highlight &__input:focus-visible ~ &__custom {
        border-color: $accent;
    }
    &--highlight:hover &__input:not(:disabled) ~ &__custom {
        border-color: $accent;
    }

    &__check {
        fill: $accent;
        width: 0.625em;
        height: 0.4375em;
        opacity: 0;
        transition: opacity 0.1s;
    }

    &__input:checked + &__custom &__check,
    &__input[checked] + &__custom &__check {
        opacity: 1;
    }

    &__input:disabled + &__custom &__check {
        fill: $main-text;
    }

    &__input:disabled ~ &__text {
        color: $main-text;
        cursor: default;
    }

    &__input:disabled ~ &__custom {
        border-color: transparent;
        background-color: transparentize(rgb(188, 196, 216), 0.75);

        box-shadow: inset 0px 2px 7px rgba(134, 146, 166, 0.1);
    }
}
