@import "../../../variables.scss";

.check-block {
    font: inherit;
    display: inline-flex;
    gap: 0.625em;
    cursor: pointer;
    align-items: center;
    position: relative;

    &__custom {
        display: flex;
        align-items: start;

        &::before {
            content: "";
            width: 1em;
            height: 1em;
            margin-right: 0.625em;
            background-color: #fff;
            border: 0.0625em solid transparentize($main-text, 0.7);
            box-shadow: inset 0px 0.125em 0.4375em transparentize($main-text, 0.9);
            border-radius: 2px;
            flex-shrink: 0;
        }
    }

    &--right &__custom::before {
        order: 1;
        margin-right: 0;
        margin-left: 0.625em;
    }

    &--right &__check {
        left: auto;
        right: 0.1875em;
    }

    &__input {
        -webkit-appearance: none;
        appearance: none;
        position: absolute;
    }

    &--highlight &__input:not(:disabled):checked ~ &__custom {
        color: $accent;
    }

    &__input:checked ~ &__custom::after {
        display: block;
    }

    &__check {
        position: absolute;
        left: 0.1875em;
        top: 0.3125em;

        fill: $accent;
        width: 0.625em;
        height: 0.4375em;
        display: none;
    }

    &__input:checked + &__check,
    &__input[checked] + &__check  {
        display: block;
    }

    &__input:disabled + &__check {
        fill: $main-text
    }

    &__input:disabled ~ &__custom {
        color: $main-text;
        cursor: default;

        &::after {
            background-color: transparentize($main-text, 0.75);
            box-shadow: inset 0px 2px 7px rgba(134, 146, 166, 0.1);
            border-color: transparent;
        }
    }

    
}
