@import "../../../sass/variables";

.check-block {
    font: inherit;
    display: inline-grid;
    grid-auto-flow: column;
    gap: 0.625em;
    cursor: pointer;
    align-items: center;
    justify-content: start;
    position: relative;

    &__check {
        width: 1em;
        height: 1em;
        background-color: #fff;
        border: 0.0625em solid transparentize($main-text, 0.7);

        box-shadow: inset 0px 0.125em 0.4375em transparentize($main-text, 0.9);
        border-radius: 2px;

        transition-property: border-color, fill;
        transition-duration: 0.2s;
        transition-timing-function: ease-in;

        fill: transparent;
    }

    &--right &__custom {
        order: 1;
    }

    &__input {
        -webkit-appearance: none;
        appearance: none;
        position: absolute;
    }

    &__text {
        transition: color 0.2s ease-in;
    }

    &--highlight &__input:not(:disabled):checked ~ &__text,
    &--highlight:hover &__text {
        color: $accent;
    }

    &--highlight:focus-visible &__text {
        color: $accent;
    }

    &__input:focus {
        outline: none;
    }

    &--highlight &__input:focus-visible ~ &__check {
        border-color: $accent;
    }

    &--highlight:hover &__input:not(:disabled) ~ &__check {
        border-color: $accent;
    }

    &__input:checked + &__check,
    &__input[checked] + &__check {
        fill: $accent;
    }

    &__input:disabled + &__check {
        fill: $main-text;

        border-color: transparent;
        background-color: transparentize(rgb(188, 196, 216), 0.75);

        box-shadow: inset 0px 2px 7px rgba(134, 146, 166, 0.1);
    }

    &__input:disabled ~ &__text {
        color: $main-text;
        cursor: default;
    }

    &__desc {
        position: absolute;
        background-image: linear-gradient(88.76deg, rgba(113, 130, 166, 0.85) 2.12%, rgba(85, 98, 126, 0.95) 97.88%);

        left: 8px;
        bottom: calc(100% + 8px);

        transform: translateX(-50%);
        color: white;
        border-radius: 2px;
        padding: 6px 8px;
        width: max-content;
        opacity: 0;
        transition: opacity 0.2s;
        pointer-events: none;
        font-size: 12px;
    }

    &__check:hover ~ &__desc {
        opacity: 1;
    }

    &__input:focus-visible ~ &__desc {
        opacity: 1;
    }
}
