@import "../../../variables.scss";

.navigation {
    $block: &;
    &__item {
        appearance: none;
        height: 56px;
        font-weight: 300;
        font-size: 16px;
        line-height: 1.125;
        color: $headlines;
        text-decoration: none;
        padding: 18px var(--side);
        display: flex;
        align-items: center;
        position: relative;
        cursor: pointer;
        transition: font-size 0.4s 0.2s;

        &::-webkit-details-marker {
            display: none;
        }

        &--active {
            background-color: #f2f8fe;
            font-weight: 500;
            color: $accent;
        }

        &:focus-visible::before,
        &:hover::before,
        &--active::before {
            content: "";
            width: 2px;
            height: 100%;
            background-color: $accent;
            border-radius: 0px 5px 5px 0px;
            position: absolute;
            left: 0;
            top: 0;
        }

        &--sub {
            height: 18px + 24px;
            padding-left: 25px;
            padding-right: 10px;
            background-color: transparent;

            &::before {
                display: none;
            }
        }
    }

    &__sublist {
        margin: 12px 0 12px 20px;
        height: 0;
        transition: height 0.3s ease-in-out;
        overflow-y: hidden;
    }

    details[open] > &__item {
        background-color: #f2f8fe;
        font-weight: 500;
        color: $accent;
    }

    details[open] &__sublist {
        height: 128px;
        /* TODO: Hardcoded val, need to rework for this: 
        https://css-tricks.com/how-to-animate-the-details-element/ 
        */
    }

    summary {
        position: relative;
        padding-right: 44px;
        outline: none;
        &::after {
            content: "";
            position: absolute;
            width: 0.625em;
            height: 0.375em;
            transition: width 0.2s, height 0.2s;
            background-color: $inactive;
            right: 30px;
            top: 0;
            bottom: 0;
            margin: auto 0;

            clip-path: path(
                "M5.551.251L9.78 4.666a.783.783 0 01.221.553.809.809 0 01-.221.554A.733.733 0 019.25 6a.733.733 0 01-.527-.227l-3.741-3.86-3.704 3.86A.733.733 0 01.752 6a.733.733 0 01-.528-.227A.782.782 0 010 5.22a.809.809 0 01.224-.553L4.452.25a.722.722 0 011.1 0z"
            );
            transition: transform 0.3s;
            transform: rotate(180deg);
        }
    }

    details[open] summary::after {
        transform: none;
        background-color: $accent;
    }

    details[open] summary &__icon,
    &__item:hover &__icon,
    &__item--active &__icon {
        fill: $accent;
    }

    &__item--sub &__icon {
        margin-right: 12px;
    }

    &__icon {
        fill: $inactive;
        margin-right: 24px;
    }
    &--collapsed {
        summary::after {
            display: none;
        }
    }

    &--collapsed &__item {
        justify-content: center;
        text-align: center;
        font-size: 0;
        padding-right: 0;
        padding-left: 0;
        transition: none;
    }

    &--collapsed &__icon {
        margin-right: 0;
    }

    &--collapsed &__sublist {
        margin-left: 0;
    }
}
