@import "../../../variables.scss";

.navigation {
    $block: &;
    &__item {
        appearance: none;
        height: 56px;
        font-weight: 300;
        font-size: 16px;
        line-height: 1.125;
        color: $headlines;
        text-decoration: none;
        padding-left: 32px;
        padding-right: 28px;
        display: flex;
        align-items: center;
        position: relative;

        &::-webkit-details-marker {
            display: none;
        }

        &--active {
            background-color: #f2f8fe;
            font-weight: 500;
            color: $accent;
        }

        &:hover::before,
        &--active::before {
            content: "";
            width: 2px;
            height: 100%;
            background-color: $accent;
            border-radius: 0px 5px 5px 0px;
            position: absolute;
            left: 0;
            top: 0;
        }

        &--sub {
            height: 18px + 24px;
            padding-left: 25px;
            padding-right: 10px;
            background-color: transparent;

            &::before {
                display: none;
            }
        }
    }

    &__sublist {
        margin-left: 20px;
        height: 0;
        overflow-y: hidden;
    }

    details[open] > &__item {
        background-color: #f2f8fe;
        font-weight: 500;
        color: $accent;
    }

    details[open] &__sublist {
        height: 128px;
        // height: auto;
        transition: height .3s ease-in-out;
    }

    &__item:hover &__icon,
    &__item--active &__icon {
        fill: $accent;
    }

    &__item--sub &__icon {
        margin-right: 12px;
    }

    &__icon {
        fill: $inactive;
        margin-right: 24px;
    }

    &__marker {
        fill: $inactive;
        margin-left: auto;
        transform: rotate(180deg);
    }
}
