@use "sass:math";

.root {
	background-color: #001c53;
	margin: 0;
	padding: min(100px, 9vmin) 0;
	display: grid;

	grid-template-rows: math.div(5, 9) * 100vmin auto;

	place-items: end stretch;
	place-content: space-between stretch;

	background-image: url("./assets/back.png");
	background-size: cover;
	background-position: center;

	color: #fff;

	position: relative;
	@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
		background-image: url("./assets/back@2x.png");
	}
}

.image {
	max-width: 100%;
	height: auto;
}

.caption {
	display: grid;
	gap: 20px 68px;
	justify-self: center;
	align-content: center;
	align-items: center;
	max-width: 635px;

	font-size: 16px;
	line-height: 1.57;
	@media (min-width: 900px) {
		grid-template-columns: 1fr auto;
	}
}
