.root {
    min-height: 142px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));

    // display: flex;
    // justify-content: space-between;
    flex-wrap: wrap;
    gap: 10px 36px;
    position: relative;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 30px;
    grid-column: 1 / -1;
}

.buttons {
    display: flex;
    align-items: center;
    width: 229px;
    justify-content: space-between;
}

.save {
    width: 140px;
    height: 40px;
}

.input:last-child {
    grid-column: 1 / -1;
}
