@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.root {
    min-height: 142px;
    position: relative;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 30px;
}

.buttons {
    display: flex;
    align-items: center;
    width: 230px;
    justify-content: space-between;
}

.save {
    min-width: 140px;
    height: 40px;
}

.input {
    flex: 1 1 400px;
    margin: 12.5px;

    @media (max-width: 900px) {
        flex-basis: auto;
    }
}

.inputs {
    display: flex;
    margin: -12.5px;
    flex-wrap: wrap;
}
