.root {
	background-color: rgba(white, 0.8);

	// border: 1px solid #e2e9f6;
	// box-shadow: inset 0 0 25px rgba(255, 255, 255, 0.05), 0 0 1px 1px #e2e9f6;

	@supports ((-webkit-backdrop-filter: none) or (backdrop-filter: none)) {
		background-color: rgba(white, 0.2);
		backdrop-filter: blur(34px);
		-webkit-backdrop-filter: blur(34px);
	}
}
