@import '../../../variables.scss';

.organization {
  padding: 40px;

  --offset: clamp(10px, 40 / 1440 * 100vw, 40px);
  padding: var(--offset);

  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  &__btn {
    align-self: center;
    margin-left: auto;
    width: 140px;
    height: 40px;
  }

  &__titles {
    p {
      font-style: normal;
      font-weight: normal;
      font-size: 16px;
      line-height: 18px;

      color: #7182a6;
    }
  }

  &-table-loader {
    position: relative;
    height: 400px;
  }
}
