.organization {
  height: 100%;
  height: calc(100vh - #{80 + 24 * 2}px);
  display: grid;
  grid-template-rows: auto 1fr;
  padding: 40px;

  --offset: clamp(10px, 40 / 1440 * 100vw, 40px);
  padding: var(--offset) 0;
  gap: var(--offset);

  &__header {
    padding-left: var(--offset);
    padding-right: var(--offset);
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  &__btn {
    align-self: center;
    margin-left: auto;
    width: 140px;
    height: 40px;
  }

  &__titles {
    p {
      font-style: normal;
      font-weight: normal;
      font-size: 16px;
      line-height: 18px;

      color: #7182a6;
    }
  }

  &__list {
    max-height: 100%;
    overflow: auto;
    scrollbar-width: thin;
    padding-left: var(--offset);
    padding-right: var(--offset);
  }

  &-table-loader {
    position: relative;
    height: 400px;
  }
}
