@use "sass:math";

.root {
	position: relative;
	display: inline-block;
}

.graph {
	position: absolute;
	top: math.div(158.96, 400) * 100%;
	right: math.div(26.94, 712) * 100%;

	width: math.div(516, 712) * 100%;
	height: math.div(146, 400) * 100%;

	rect {
		transition: height 1s;
	}
}

.image {
	height: 40vmin;
	width: auto;;
}
