@use "sass:math";

.root {
	position: relative;
	display: inline-block;
}

.graph {
	position: absolute;
	top: 34.6%;
	right: 4.5%;
	width: math.div(516, 712) * 100%;
	height: math.div(180, 401) * 100%;

	rect {
		transition-property: height, y;
		transition-duration: 1s;
	}
}

.image {
	height: auto;
	width: math.div(712, 1440) * 100vw;
	max-width: 100%;
}
