@import "../../../variables.scss";

$design-table-w: 1038;

.table {
  // margin-top: 40px - 11px;
  width: 100%;
  border-collapse: collapse;

  &__head {
    position: sticky;
    top: 0;
    background-color: #fff;
  }

  &__header {
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 1.167;
    letter-spacing: 0.083em;
    text-transform: uppercase;
    color: $inactive;
    border-bottom: 1.5px solid transparentize($main-text, 0.7);    

    th,
    td {
      font: inherit;
      text-align: left;
      padding-top: 40px;
      padding-top: clamp(10px, 40 / 1440 * 100vw, 40px);;
      padding-right: 20px;
      padding-bottom: 11px;
      vertical-align: top;
    }
  }

  &__headline--hidden {
    visibility: hidden;
  }

  &--organization {
    tr {
      display: grid;
      grid-template-columns:
        226 / $design-table-w * 100%
        192 / $design-table-w * 100%
        260 / $design-table-w * 100%
        1fr
        60px;
    }
  }

  &--user {
    // margin-top: 40px - 11px;
    tr {
      display: grid;
      grid-template-columns:
        160 / $design-table-w * 100%
        200 / $design-table-w * 100%
        275 / $design-table-w * 100%
        1fr
        60px;
    }
  }


  &__row:not(:last-child) {
    border-bottom: 1.5px solid transparentize($main-text, 0.85);
  }

  &__cell {
    padding-top: $element-gap;
    padding-bottom: $element-gap;
    padding-right: 20px;
    font-weight: normal;
    font-size: 14px;
    line-height: 1.1429;
    color: $main-text;
    overflow: hidden;
    text-overflow: ellipsis;

    &--comment {
      font-style: italic;
    }

    &--actions {
      display: grid;
      grid-template-columns: 1fr 1fr;
      align-items: center;
      justify-items: end;
      gap: 14px;
      padding-right: 6px;
    }

    a {
      color: inherit;
      outline-color: currentColor;
      outline-offset: 0.4em;
      border-radius: 0.2em;

      &:focus-visible,
      &:hover {
        color: $accent;
      }
    }
  }

  &__action {
    all: unset;
    color: $inactive;
    cursor: pointer;
    outline-color: currentColor;
    outline-offset: 0.4em;
    border-radius: 0.2em;

    &:focus-visible {
      outline-width: 1px;
    }

    &:focus-visible,
    &:hover {
      color: $accent;
    }

    &:disabled {
      cursor: default;
      color: transparentize($inactive, 0.6);
    }
  }
  /*  

        .dot {
          width: 4px;
          height: 4px;
          background: rgba(113, 130, 166, 0.3);
          margin-right: 2px;
          border-radius: 50%;
          &:last-child {
            margin-right: 0;
          }
        }
      }


      }
      &.deleting {
        &:before {
          position: absolute;
          content: "";
          right: 0;
          top: 0;
          bottom: 0;
          left: 0;
          height: 100%;
          width: 100%;
          background-color: rgba(113, 130, 166, 0.2);
        }
      }
    }


  
      }
    }
  } */

  .table-edit-organization-modal {
    &__title {
      font-weight: 500;
      font-size: 24px;
      line-height: 28px;
      text-align: center;
      color: #003c71;
    }

    &__submit {
      cursor: pointer;
      text-transform: capitalize;
      margin-top: 40px;
      display: flex;
      justify-content: center;
      padding: 11px 0;
      color: #fff;
      background: #017aee;
      border-radius: 2px;
    }
  }
}
