@use "../../../sass/variables" as *;
@use "../../../sass/mixins" as *;
@use "sass:math";

$design-table-w: 1038;

.table {
	width: 100%;
	border-collapse: collapse;

	&__head {
		position: sticky;
		top: 0;
		background-color: #fff;
		padding: 0 40px;
		z-index: 0;
	}

	&__header {
		font-style: normal;
		font-weight: 400;
		font-size: 12px;
		line-height: 1.167;
		letter-spacing: 0.04em;
		color: $headlines;
		border-bottom: 1.5px solid transparentize($main-text, 0.7);

		th,
		td {
			font: inherit;
			text-align: left;
			padding-top: 40px;
			padding-top: clamp(10px, #{math.div(40, 1440) * 100vw}, 40px);
			padding-right: 20px;
			padding-bottom: 11px;
			vertical-align: top;
		}
	}

	&__headline--hidden {
		visibility: hidden;
	}

	&--organization {
		tr {
			display: grid;
			grid-template-columns:
				#{math.div(226, $design-table-w) * 100%}
				#{math.div(192, $design-table-w) * 100%}
				#{math.div(260, $design-table-w) * 100%}
				1fr
				60px;
		}
	}

	&--user {
		// margin-top: 40px - 11px;
		tr {
			display: grid;
			grid-template-columns:
				#{math.div(123, $design-table-w) * 100%}
				#{math.div(158, $design-table-w) * 100%}
				#{math.div(253, $design-table-w) * 100%}
				#{math.div(200, $design-table-w) * 100%}
				1fr
				60px;
		}
	}

	.comma-list {
		max-width: 180px;
		display: inline-block;
	}

	&__row:not(:last-child) {
		border-bottom: 1.5px solid transparentize($main-text, 0.85);
	}

	&__row.deleting {
		text-decoration: line-through;

		&::before {
			position: absolute;
			content: "";
			right: 0;
			top: 0;
			bottom: 0;
			left: 0;
			height: 100%;
			width: 100%;
			background-color: rgba(113, 130, 166, 0.2);
		}
	}

	&__cell {
		padding-top: $element-gap;
		padding-bottom: $element-gap;
		padding-right: 20px;
		font-weight: normal;
		font-size: 14px;
		line-height: 1.1429;
		color: $main-text;
		overflow: hidden;
		text-overflow: ellipsis;

		&--comment {
			font-style: italic;
		}

		&--actions {
			display: grid;
			grid-template-columns: 1fr 1fr;
			align-items: center;
			justify-items: end;
			gap: 14px;
			padding-right: 6px;
		}
	}

	&__link {
		color: inherit;
		outline-color: currentColor;
		outline-offset: 0.4em;
		border-radius: 0.2em;

		@include hover-focus {
			color: $accent;
		}
	}

	&__action {
		all: unset;
		color: $inactive;
		cursor: pointer;
		outline-color: currentColor;
		outline-offset: 0.4em;
		border-radius: 0.2em;

		&:focus-visible {
			outline-width: 1px;
		}

		@include hover-focus {
			color: $accent;
		}

		&:disabled {
			cursor: default;
			color: transparentize($inactive, 0.6);
		}
	}

	.table-edit-organization-modal {
		&__title {
			font-weight: 500;
			font-size: 24px;
			line-height: 28px;
			text-align: center;
			color: #003c71;
		}

		&__submit {
			cursor: pointer;
			text-transform: capitalize;
			margin-top: 40px;
			display: flex;
			justify-content: center;
			padding: 11px 0;
			color: #fff;
			background: #017aee;
			border-radius: 2px;
		}
	}
}

.table-loader {
	position: relative;
	height: 60vh;
}

.user-table-loader {
	position: relative;
	min-height: 100px;
	height: 25vh;
}
