.table {
  margin-top: 40px;

  &-head {
    &-row {
      display: flex;
      padding-bottom: 12px;
      border-bottom: 1.5px solid rgba(113, 130, 166, 0.3);
    }
    &-item {
      &:first-child {
        max-width: 220px;
        width: 100%;
      }

      &:nth-child(2) {
        max-width: 192px;
        width: 100%;
      }
      &:nth-child(3) {
        max-width: 261px;
        width: 100%;
      }

      &.user {
        &:first-child {
          max-width: 200px;
          width: 100%;
        }

        &:nth-child(2) {
          max-width: 200px;
          width: 100%;
        }

        &:nth-child(3) {
          max-width: 300px;
          width: 100%;
        }
      }
    }
  }

  &-body {
    max-height: 355px;
    overflow-y: auto;
    &-row {
      display: flex;
      padding-bottom: 25px;
      padding-top: 25px;
      border-bottom: 1px solid rgba(113, 130, 166, 0.15);
      padding-right: 53px;
      position: relative;

      .dots-container {
        position: absolute;
        display: flex;
        right: 25px;
        top: 50%;
        cursor: pointer;
        &.user {
          right: 0;
        }
        .dot {
          width: 4px;
          height: 4px;
          background: rgba(113, 130, 166, 0.3);
          margin-right: 2px;
          border-radius: 50%;
          &:last-child {
            margin-right: 0;
          }
        }
      }

      &__actions {
        position: absolute;
        display: flex;
        right: -25px;
        top: 50%;
        transform: translate(-50%, -50%);
        align-items: center;
        color: #9EACC2;
        svg {
          margin-left: 12px;
          cursor: pointer;
          width: 16px;
          height: 16px;
          path {
            fill: currentColor;
          }

          &:hover {
            color: #017AEE
          }

          &.disabled {
            color: transparentize(#9EACC2, 0.6);
            cursor: default;
          }
        }

        
      }
      &.deleting {
        &:before {
          position: absolute;
          content: '';
          right: 0;
          top: 0;
          bottom: 0;
          left: 0;
          height: 100%;
          width: 100%;
          background-color: rgba(113, 130, 166, 0.2);
        }
      }
    }
    &-item {
      font-size: 14px;
      font-weight: normal;
      line-height: 16px;
      color: #7182A6;
      padding: 1px 1.2em 1px 0;
      box-sizing: border-box;
      overflow: hidden;
      text-overflow: ellipsis;

      &:first-child {
        max-width: 220px;
        width: 100%;
      }

      &:nth-child(2){
        max-width: 192px;
        width: 100%;
      }

      &:nth-child(3) {
        max-width: 261px;
        width: 100%;
        a {
          color: inherit;
          text-underline-offset: 2px;
        }
      }

      &:nth-child(3) {
        font-style: italic;
      }

      &.user {
        &:first-child {
          max-width: 200px;
          width: 100%;
        }

        &:nth-child(2) {
          max-width: 200px;
          width: 100%;
        }

        &:nth-child(3) {
          font-style: normal;
          max-width: 300px;
          width: 100%;
        }
      }
    }
  }

  .table-edit-organization-modal {
    &__title {
      font-weight: 500;
      font-size: 24px;
      line-height: 28px;
      text-align: center;
      color: #003C71;
    }

    &__submit {
      cursor: pointer;
      text-transform: capitalize;
      margin-top: 40px;
      display: flex;
      justify-content: center;
      padding: 11px 0;
      color: #fff;
      background: #017AEE;
      border-radius: 2px;
    }
  }
}
