@use "../../../sass/variables" as *;
@use "../../../sass/mixins" as *;

.root {
	display: grid;
	justify-content: center;
	align-items: start;
	grid-auto-flow: column;
	padding: 1.1em 1.4em 1.2em;
	margin: 0;
	gap: 1.2em;

	background: rgba(white, 90%);
	border: 1px solid #e2e9f6;

	box-shadow: inset 0 0 1.5em rgba(white, 0.05);
	color: rgba(82, 82, 82, 1);

	@include back-blur(3em) {
		background: rgba(white, 80%);
	};
}

.group {
	display: grid;
	gap: 0.5em;
	min-width: 5em;
	&:not(:last-child) {
		// padding-right: 1em;
		border-right: 1px solid rgba(226, 233, 246, 1);
	}
}

.title {
	font: inherit;
	font-size: 0.4em;
	font-weight: 260;
	line-height: 1.286;
	letter-spacing: 0.04em;
	text-transform: uppercase;
}

.value {
	font-weight: 700;

	line-height: 1.15;

	color: $accent;
	margin: 0;
}
