@use "../../sass/variables" as *;
@use "../../sass/mixins" as *;

.root {
	height: 100vh;
	padding: 40px;
	display: flex;
	flex-direction: column;
}

.info {
	margin: 36px 0 12px;
}

.form {
	margin: 0 0 20px;
	display: grid;
	gap: 16px;
	position: relative;
}

.headlineWrap {
	display: flex;
	justify-content: space-between;
	align-items: center;
	h1{
		margin-block-start: 0;
		margin-block-end: 0;
	}
}

.buttons {
	//margin-top: auto;
	display: grid;
	grid-template-columns: auto 100px;
	align-items: center;
	justify-content: end;
	gap: 32px;
}

.button {
	all: unset;
	cursor: pointer;
	display: flex;
	align-items: center;

	font-weight: 550;
	font-size: 16px;
	line-height: 1.375;

	svg {
		margin-left: 6px;
	}

	@include hover-focus {
		color: $accent;
	}
}

.cancel {
	position: absolute;
	right: 2.375em;
	top: 0.75em;
	color: #017AEE;
	z-index: 2;
}
