.wrap {
	transform-style: preserve-3d;
	perspective: 100vmin;
	// will-change: transform;
	position: relative;
	// transform: rotateY(-20deg);
	left: -40px;
	justify-self: start;
	transition: transform 1s ease-in-out;
}
.screen {
	transition: transform 1s ease-in-out;
}

.result {
	transition: transform 1s ease-in-out;
	position: absolute;
	bottom: 14.5vmin;
	left: 22vmin;
	// transform: translateZ(70vmin) scale(0.6);
}

.graph {
	transition: transform 1s ease-in-out;
	position: absolute;
	top: -1vmin;
	right: -2vmin;

	// transform: translateZ(40vmin) scale(0.6);
}
