@use "sass:math";

.wrap {
	transform-style: preserve-3d;
	perspective: 100vmin;
	position: relative;

	justify-self: start;
	transition: transform 1s ease-in-out;

	width: 100%;
	height: 100%;

	// debugging
	/* 	&::before,
	&::after {
		position: absolute;
		width: inherit;
		height: inherit;
		content: "";
		background-color: rgba(darkcyan, 80%);
	}

	&::before {
		transform: rotateY(90deg) translateZ(50vmin);
	}

	&::after {
		transform: rotateY(-90deg) translateZ(50vmin);
		left: 0;
		top: 0;
	} */
}

.screen {
	transition: transform 1s ease-in-out;
	top: 14%;
	left: 7%;
}

.result {
	transition: transform 1s ease-in-out;
	position: absolute;
	bottom: 34%;
	left: 30%;
	font-size: 1.8vmin;
}

.graph {
	transition: transform 1s ease-in-out;
	position: absolute;
	top: 9%;
	left: 40%;
	height: 26vmin;
	width: auto;
}
