.add-user-account {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;

  &__header {
    width: 100%;
    margin-bottom: 50px;

    h2 {
      margin: 0 0 12px;
      font-weight: 500;
      font-size: 24px;
      line-height: 1.1667;
      color: #003c71;
    }

    p {
      margin: 0;
      font-size: 16px;
      line-height: 1.125;
      color: #7182a6;
    }
  }

  &__button {
    cursor: pointer;

    svg {
      margin-right: 12px;
    }

    span {
      font-size: 16px;
      line-height: 18px;
      color: rgba(113, 130, 166, 0.5);
    }
  }

  &__form {
    text-align: center;
    width: 100%;
    max-width: 360px;
    margin: 0 auto;
  }

  &__form-btn-save {
    margin-top: 40px;
    width: 100%;
    height: 40px;
  }
  &__form-btn-cancel {
    height: 21px;
    width: 49px;
    margin: 18px auto 0;
  }

  &__forgot-password {
    position: absolute;
    background-color: #fff;
    height: 100%;
    width: calc(100% + 274px);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    left: -274px;

    &.success {
      .login-page__container {
        max-width: 656px;
      }
      .login-page__btn {
        max-width: 210px;
      }
    }

    &-success-text {
      font-weight: 500;
      font-size: 24px;
      line-height: 28px;
      letter-spacing: 0.2px;
      color: #00cd52;
      margin-bottom: 32px;
      svg {
        margin-right: 8px;
      }
    }

    &__btn {
      display: flex;
      justify-content: center;
      .button {
        width: 100%;
        padding: 10px 40px;
        max-width: 140px;
      }
    }
  }
}
