@import "../../../variables.scss";

.success {
    text-align: center;
    &__title {
        font-weight: 500;
        font-size: 24px;
        line-height: 1.167;

        letter-spacing: 0.2px;

        color: $success;

        margin-bottom: 32px;
        svg {
            margin-right: 8px;
        }
    }

    .button {
        // max-width: min-content;
        width: auto;
        padding: 11px 40px;
        margin: 0 auto;
        display: inline-flex;
        text-align: center;
    }
}
