@import "../../../variables.scss";

.breadcrumbs {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;

    font-weight: 300;
    font-size: 14px;
    line-height: 1.143;
    color: $main-text;

    &__item {
        &:not(:last-child)::after {
            content: '/';
            margin: 0 10px;
        }

        &:last-child {
            font-weight: 500;

            color: $accent;
        }
    }

    &__link {
        text-decoration: none;
        color: inherit;
    }
}
