.login-page {
  width: 100%;
  max-width: 1392px;
  margin: 0 auto;
  background: #FFFFFF;
  box-shadow: 0px 2px 20px rgba(22, 34, 101, 0.1);
  border-radius: 4px;
  min-height: 602px;
  height: 70vh;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;

  &__wrap{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 32px;
    margin-bottom: 40px;
  }

  &__remember{
    cursor: pointer;
    font-size: 16px;
    line-height: 18px;
    color: rgba(113, 130, 166, 0.5);
    font-weight: 400;
  }

  &__forgot{
    cursor: pointer;
    font-size: 16px;
    line-height: 18px;
    color: rgba(113, 130, 166, 0.5);
    font-weight: 400;
    transition: .3s ease-in-out;
    &:hover {
      color: #017AEE;
    }
  }

  &__container {
    width: 100%;
    max-width: 400px;
    margin: 0 auto;
    text-align: center;
  }

  &__inputs {
    &-errors {
      margin-top: 16px;
      font-size: 16px;
      line-height: 18px;
      color: #FF5757;
      text-align: left;
    }
  }

  &__title {
    h2{
      font-size: 24px;
      line-height: 28px;
      letter-spacing: 0.2px;
      color: #003C71;
      margin-bottom: 16px;
    }
    span{
      font-weight: 500;
      font-size: 24px;
      line-height: 28px;
      letter-spacing: 0.2px;
      color: #017AEE;
    }
    p{
      font-size: 16px;
      line-height: 18px;
      color: #7182A6;
    }
  }

  &__btn{
    height: 40px;
    width: 100%;
    margin: 40px auto 0;
    &-cancel {
      width: 49px;
      margin: 16px auto 0 auto;
    }
  }

  &__forgot-password {
    position: absolute;
    background-color: #fff;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    &.success {
      .login-page__container {
        max-width: 656px;
      }
      .login-page__btn {
        max-width: 210px;
      }
    }

    &-success-text {
      font-weight: 500;
      font-size: 24px;
      line-height: 28px;
      letter-spacing: 0.2px;
      color: #00CD52;
      margin-bottom: 32px;
      svg {
        margin-right: 8px;
      }
    }
  }
}
