@import '../../../variables.scss';

.role-checkboxes {
    display: flex;
    justify-content: space-between;
    border: none;
    margin: 0;
    padding: 0;
    justify-content: space-between;
    gap: 20px;

    &__legend {
        color: inherit;
        margin: 0;
        padding: 0;
        float: left;
        font-weight: inherit;
    }
    .check-block {
        flex-direction: row-reverse;
        float: right;
        // color: $headlines
    }
}