@use '../../variables' as *;

$logo-top-offset: 26px;
$logo-height: 40px;

.header {
    position: fixed;
    top: $logo-top-offset;
    left: 32px;
}

.main {
    display: grid;
    place-items: center;
    width: 100%;
    height: 100vh;
    $default-offset: $logo-top-offset * 2 + $logo-height;
    padding: $default-offset $element-gap $default-offset + 20px;
}