$accent: rgb(1, 122, 238);
$headlines: rgb(0, 60, 113);
$main-text: rgb(113, 130, 166);
$inactive: rgb(188, 196, 216);
$error: #FF5757;
$success: #00CD52;


$element-gap: 24px;
$form-width: 380px;