@use "../../sass/variables" as *;
@use "../../sass/mixins" as *;

.button,
.close,
.trigger {
	background-color: transparent;
	border: none;
	font: inherit;
	cursor: pointer;
	color: $main-text;

	&:hover,
	&:active {
		color: $accent;
	}

	&:focus-visible {
		color: $accent;
	}
}

.trigger {
	border: none;
	border-top: 1px solid transparentize($main-text, 0.9);
	height: 52px;
	width: 100%;
	display: flex;
	align-items: center;
	align-content: center;
	justify-content: center;

	font-size: 0;
	transition-property: font-size;
	transition-duration: 0.2s;
	transition-delay: 0.3s;

	&--wide {
		font-size: 14px;
	}
}

.close {
	position: absolute;
	top: 16px;
	right: 16px;
	color: $inactive;
	z-index: 2;
}

.button {
	text-align: left;
	margin: 0;
	padding: 12px 26px;
	display: flex;
	align-items: center;

	font-weight: 300;
	font-size: 16px;
	line-height: 18px;
	position: relative;

	outline: 0;

	svg {
		margin-right: 16px;
		color: $inactive;
	}

	&:hover,
	&:active {
		font-weight: 500;
		svg {
			color: currentColor;
		}

		&::before {
			content: "";
			position: absolute;
			left: 0;
			top: 12px;
			height: 22px;
			width: 2px;
			background-color: currentColor;
			border-radius: 0px 5px 5px 0px;
		}
	}

	&:focus-visible {
		font-weight: 500;
		svg {
			color: currentColor;
		}

		&::before {
			content: "";
			position: absolute;
			left: 0;
			top: 12px;
			height: 22px;
			width: 2px;
			background-color: currentColor;
			border-radius: 0px 5px 5px 0px;
		}
	}
}
