@use "../../../sass/variables" as *;
@use "../../../sass/mixins" as *;
@use "sass:math";

.root {
	width: 100%;
	max-width: 380px + 30px * 2;
	margin: auto;
	position: relative;
	padding: 50px 30px;
}

.header {
	text-align: center;
	margin-bottom: min(50px, #{math.div(50, 9) * 1vh});
}

.title {
	margin: 0 0 0.625em;
	display: flex;
	flex-wrap: wrap;
	gap: 0 8px;
	font-weight: 600;
	place-items: end center;
	place-content: end center;
}

.subtitle {
	margin: 0;
	line-height: 1.375;
}

.inputs {
	display: grid;
	gap: 24px;
	border: none;
	padding: 0;
	margin: 0;
}

.forgot {
	margin: 24px 0 0;
	color: $inactive;
	transition: color 0.3s ease-in-out;
	text-decoration: none;
	width: fit-content;

	display: block;
	@include hover-focus {
		color: $accent;
	}
}

.submit {
	width: 100%;
	margin: 36px 0 0;
}

.note {
	font-size: 16px;
	line-height: 1.125;

	color: $main-text;
	margin: 1.5em auto 0;
}

.loader {
	z-index: 4;
}
