@use "../../../sass/variables" as *;
@use "../../../sass/mixins" as *;

.root {
	width: 100%;
	max-width: 380px;
	margin: auto;
	position: relative;
}

.header {
	text-align: center;
	margin-bottom: 50px - 10px;
}

.title {
	margin: 0 0 12px;
}

.subtitle {
	margin: 0;
}

.inputs {
	display: grid;
	gap: 22px;
	border: none;
	padding: 0;
	margin: 0;
}

.forgot {
	margin: 24px 0 0;
	color: $inactive;
	transition: color 0.3s ease-in-out;
	text-decoration: none;
	width: fit-content;

	display: block;
	@include hover-focus {
		color: $accent;
	}
}

.submit {
	width: 100%;
	margin: 40px 0 0;
}

.note {
	font-size: 16px;
	line-height: 1.125;

	color: $main-text;
	margin: 1.5em auto 0;
}
