.content-wrapper {
  height: 100%;
  overflow-y: auto;
}

.edit-organization {
  &__header {
    background: #ffffff;
    box-shadow: 0px 12px 26px rgba(16, 30, 115, 0.06);
    border-radius: 4px 4px 0px 0px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 40px;
    height: 102px;
  }

  &__title {
    margin: 0;
  }

  &__body {
    padding: 40px;
  }

  &__info {
    margin-bottom: 60px;
  }

  &__buttons {
    display: flex;
    align-items: center;
    width: 229px;
    justify-content: space-between;
  }

  &__save-btn {
    width: 140px;
    height: 40px;
  }

  &__inputs {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 0 40px;
  }

  &__input {
    flex: 1 0 317px;
  }

  &__comments {
    flex-basis: 100%;
  }

  &__user-list-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__user-list-add {
    width: 140px;
    height: 40px;
  }
}
