@use "../variables" as *;

.header {
	padding: 40px var(--side) 25px;
	display: flex;
	align-items: center;
}

.loader {
	position: relative;
	height: 60vh;
}

.title {
	margin: 0 24px 0 0;
}

.button {
	align-self: center;
	width: 132px;
	height: 40px;
	margin-left: auto;
}

.output {
	width: 100%;
	min-height: calc(100vh - 150px);
	display: grid;
	place-content: center;

	text-align: center;

	font-family: inherit;
	font-weight: 500;
	font-size: 24px;
	line-height: inherit;
	color: $headlines;
	margin: 0;
}
