@import "../../../sass/variables";

.reset {
	font: inherit;
	background-color: transparent;
	border: none;
	cursor: pointer;
	font-size: 16px;
	line-height: 18px;
	text-align: center;
	width: 100%;
	color: $inactive;
	display: flex;
	justify-content: center;
	position: relative;
	text-decoration: none;
	padding: 0;

	text-decoration: 1.5px underline dotted;
	text-underline-offset: 0.2em;

	&:not(:disabled):hover {
		color: $accent;
		text-decoration: none;
		&:after {
			content: '';
			z-index: -9999999;
		}
	}

	&:focus-within {
		color: $accent;
		text-decoration: none;
	}

	&:disabled {
		cursor: default;
	}
}
